[package]
name = "alterware-launcher"
version = "0.6.3"
edition = "2021"
build = "res/build.rs"

[profile.release]
opt-level = "s"

# Symbols are a nice thing
debug = true

panic = "abort"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
http_req = "0.10.1"
sha1_smol = "1.0.0"
serde = { version = "1.0.190", features = ["derive"] }
serde_json = "1.0.107"
rand = "0.8.5"
semver = "1.0.20"
colored = "2.0.4"
reqwest = { version = "0.11.22", features = ["stream"] }
futures-util = "0.3.29"
indicatif = "0.17.7"
tokio = {version="1.34.0", features = ["rt-multi-thread", "macros"]}

[target.'cfg(unix)'.dependencies]
openssl = { version = "0.10.58", default-features = false, features = ["vendored"] }

[target.'cfg(windows)'.dependencies]
steamlocate = "2.0.0-alpha.0"
mslnk = "0.1.8"
self-replace = "1.3.7"

[build-dependencies]
winres = "0.1.12"

[package.metadata.winres]
OriginalFilename = "alterware-launcher.exe"
FileDescription = "AlterWare Launcher"
ProductName = "AlterWare Launcher"
